
/*
Global CSS Selectors
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}

.normal-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.material-symbols-outlined.right-icon {
  padding-left: 5px;
  /* position: relative; */
}

.material-symbols-outlined.left-icon {
  padding-right: 5px;
  /* position: relative; */
}

.wireframe * {
  outline: 1px solid blue !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  /* background-color: #5a3f1d; */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 166, 0);
  border-radius: 5px;
}
